/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Align center */
  }
  
  .search-input {
    width: 300px; /* Adjust width as needed */
    margin-right: 10px;
  }
  
  .search-button {
    background-color: green;
    color: white;
    border-radius: 50%; /* Make it circular */
  }
  